:root {
    --mint-green: #B2E0b2;
    --deep-green: #2E4A2E;
    --light-beige: #f9e6c1;
}

body {
    margin: 0px;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vw;
    overflow-x: hidden;

}

main {
    min-height: 500px;
    display: grid;
    grid-template-columns: auto auto;
}

h2,
h3 {
    text-align: center;
    font-size: 30px;
}

strong {
    font-size: 20px;
    text-decoration: underline;
}



header {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0px;
    background-color: var(--mint-green);
}

header img {
    box-shadow: 5px 12px 8px #2E4A2E;
    border-radius: 25px;
}

.title {
    width: 100%;
    height: auto;
    min-height: 0px;
    font-size: clamp(1.2rem, 2.5vw, 2rem);

}


footer {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    background-color: var(--mint-green);
    color: black;
    position: sticky;
    min-height: 200px;
}

footer section {
    min-height: 200px;
}



.social-media {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
}

h1 {
    font-size: 60px;
    color: var(--deep-green);
    box-shadow: 20px 12px 8px #2E4A2E;
}

ul.navigation {
    display: flex;
    justify-content: space-around;
    width: 100%;

    font-size: 30px;
    list-style-type: none;
    text-decoration: none;
}

div.card h2 {
    width: 800px;
}

div.cards {
    box-shadow: 20px 12px 8px #2E4A2E;
    border-radius: 15px;
    background-color: #B2E0b2;
    height: 400px;
    width: 100%;
    margin-bottom: 10px;

    margin: 0 auto;



}

div.cards p {
    text-align: center;
}

div.cards h2 {
    width: 100%;
    background-color: var(--mint-green);
    color: var(--deep-green);
    margin: 0 auto;
    padding: 10px 0 10px 0;

    border-top-right-radius: 15px;
    box-shadow: 20px 12px 8px #2E4A2E;
    border: solid 2px black;


}

#card-container img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    color: var(--deep-green);
    box-shadow: 20px 12px 8px #2E4A2E;
    border-bottom-left-radius: 15px;
    aspect-ratio: 16/10;
    border: solid 2px black;

}

div.card h2 {
    width: 100%;
    background-color: var(--mint-green);
    color: var(--deep-green);
    margin: 0 auto;
    padding: 10px 0 10px 0;
    border-top-left-radius: 15px;

    box-shadow: 20px 12px 8px #2E4A2E;
    border: solid 2px black;
}




p {
    font-weight: bold;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    margin: 0px;
    width: 100%;

}

nav {
    width: 100%;
}



div#sections {

    box-shadow: 20px 12px 8px #2E4A2E;
    border-radius: 15px;
    background-color: #B2E0b2;
    padding: 10px;
    border: 5px black;
    height: fit-content;
    min-height: 800px;
    min-width: 200px;
}

div {
    min-height: 200px;
}




ul.navigation li a {
    text-decoration: none;
    color: var(--deep-green);

}

@media (max-width: 500px) {
    #menu {
        display: block;
        font-size: small;
        font-weight: 700;
        text-decoration: none;
        padding: .5rem .75rem;
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 25px;
    }

    div.cards {
        border: none;

    }

    div#sections {
        margin: 0;
        margin-bottom: 10px;
        padding: 10px;
        min-height: 800px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    ul.navigation.show {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    ul.navigation.show a {
        text-decoration: none;
        justify-content: center;
        color: black;

    }


    .navigation li {
        display: none;
    }

    .show li {
        display: block;
    }

    #menu.show::before {
        content: "X";
    }

    #menu::before {
        content: "☰"
    }

    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px;
    }

    header img {
        padding-top: 10px;
    }

    div#card-container img {
        width: 100%;
        height: auto;
        box-shadow: none;
        border: none;
    }

    div#card-container {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    h1 {
        display: flex;
        flex-direction: column;
    }


    ul.navigation {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 0px;
    }

    h1 {
        box-shadow: none;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #card-container h2 {
        width: 100%;
        margin: 0 auto;
        box-shadow: none;
        border: none;
        border-bottom: solid black;
    }




    main {
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .social-media {
        gap: 0px;
        margin: 0px;

    }
}