:root {
    --mint-green: #B2E0b2;
    --deep-green: #2E4A2E;
    --light-beige: #f9e6c1;
}

body {
    margin: 0px;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vw;
    overflow-x: hidden;
}

main {
    min-height: 500px;
}



header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: var(--mint-green);
}

header img {
    box-shadow: 5px 12px 8px #2E4A2E;
    border-radius: 25px;
}


footer {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    background-color: var(--mint-green);
    color: black;
    position: sticky;
}

.social-media {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
}

h1 {
    font-size: 60px;
    color: var(--deep-green);
    box-shadow: 20px 12px 8px #2E4A2E;
}

ul.navigation {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    font-size: 30px;
    list-style-type: none;
    text-decoration: none;
}



#button {
    align-items: center;
    text-align: center;
}

button {
    width: 100px;
    height: 50px;
    background-color: var(--mint-green);
    color: black;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    padding: 0;
    box-shadow: 20px 12px 8px #2E4A2E;
    border-radius: 5px;
    margin: 10px;


}

.card button {
    width: 404px;
    margin: 0 auto;
    border-radius: 0px;
    border: solid 2px;
}

p {
    font-weight: bold;
}

button:hover {
    background-color: #2E4A2E;
    color: white;
}

#img {
    width: 100%;
    height: auto;
}

#middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: auto;
    gap: 50px;
    background-color: #f9e6c1;
}


picture img {
    width: 100%;
    height: auto;
}

div.middle-section img {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    display: block;
    border-radius: 25px;
    box-shadow: 20px 12px 8px #2E4A2E;
    height: auto;
    width: 100%;

}

div.middle-section {
    display: flex;
    flex-direction: column;

}

div.middle-section button {
    margin: 0 auto;
    width: 50%;
    border-radius: 25px;
    margin-top: 10px;
}

div.middle-section p {
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: var(--mint-green);
    border-radius: 25px;
    box-shadow: 20px 12px 8px #2E4A2E;
}

#call {
    position: absolute;
    bottom: 20px;
    right: 200px;
    width: 200px;
}

button#call-action {
    width: 200px;
}

#call button {
    width: 200px;
}

div#hero-container {
    position: relative;
}

dialog {
    background-color: var(--mint-green);

}

dialog input {
    width: 90%;
    height: 30px;
    margin-bottom: 10px;
    box-shadow: 10px 4px 4px #2E4A2E;

}

label {
    margin-top: 10px;
    color: black;
    font-weight: bolder;

}


dialog h3 {
    font-size: larger;
    font-weight: bolder;
    padding-top: 20px;
}

#cards {
    display: flex;
    justify-content: space-between;
}

button#closeBtn {
    position: absolute;
    right: 3px;
    top: 3px;
    margin: 0px;
    width: 50px;
}

input#submit {
    height: 50px;
    border-radius: 5px;
    width: 93%;
    background-color: var(--deep-green);
    color: white;
    font-weight: bolder;
    box-shadow: 20px 12px 8px #2E4A2E;

}

input#submit:hover {
    background-color: var(--light-beige);
    cursor: pointer;
    color: black;
}



ul.navigation li a {
    text-decoration: none;
    color: var(--deep-green);

}

@media (max-width: 500px) {
    #menu {
        display: block;
        font-size: small;
        font-weight: 700;
        text-decoration: none;
        padding: .5rem .75rem;
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 25px;
    }

    div#middle {
        display: flex;
        flex-direction: column;
    }

    ul.navigation.show {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    ul.navigation.show a {
        text-decoration: none;
        justify-content: center;
        color: black;

    }

    ul.navigation.show a:hover {
        color: green;
    }

    .navigation li {
        display: none;
    }

    .show li {
        display: block;
    }

    #menu.show::before {
        content: "X";
    }

    #menu::before {
        content: "☰"
    }

    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px;
    }

    header img {
        padding-top: 10px;
    }

    h1 {
        display: flex;
        flex-direction: column;
    }


    ul.navigation {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 0px;
    }

    h1 {
        box-shadow: none;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    main {
        width: 100%;
    }



    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .social-media {
        gap: 0px;
        margin: 0px;

    }
}